ServiceCompositionAgencia/Service References/ServiceComponentCorreio/ServiceCorreio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCorreio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCorreio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnderecoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiglaEstado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnderecoVO" nillable="true" type="tns:EnderecoVO" />
</xs:schema>