ServiceCompositionAgencia/Service References/ServiceComponentAereo/ServiceAereo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40759/ServiceAereo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoAereo" />
  <xs:element name="VerificarPrecos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPrecosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicoAereo" minOccurs="0" name="VerificarPrecosResult" nillable="true" type="q1:InformacaoAviaoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numeroAssento" type="xs:int" />
        <xs:element minOccurs="0" name="fileira" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicoAereo" minOccurs="0" name="ComprarPassagemResult" nillable="true" type="q2:ReservaAviaoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>