ServiceCompositionAgencia/Service References/ServiceComponentAereo/ServiceAereo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAereo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40759/ServiceAereo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40759/ServiceAereo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40759/ServiceAereo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoAereo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAereo_VerificarPrecos_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPrecos" />
  </wsdl:message>
  <wsdl:message name="IServiceAereo_VerificarPrecos_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPrecosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAereo_ComprarPassagem_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPassagem" />
  </wsdl:message>
  <wsdl:message name="IServiceAereo_ComprarPassagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprarPassagemResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAereo">
    <wsdl:operation name="VerificarPrecos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAereo/VerificarPrecos" message="tns:IServiceAereo_VerificarPrecos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAereo/VerificarPrecosResponse" message="tns:IServiceAereo_VerificarPrecos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprarPassagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAereo/ComprarPassagem" message="tns:IServiceAereo_ComprarPassagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAereo/ComprarPassagemResponse" message="tns:IServiceAereo_ComprarPassagem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAereo" type="tns:IServiceAereo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarPrecos">
      <soap:operation soapAction="http://tempuri.org/IServiceAereo/VerificarPrecos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprarPassagem">
      <soap:operation soapAction="http://tempuri.org/IServiceAereo/ComprarPassagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAereo">
    <wsdl:port name="BasicHttpBinding_IServiceAereo" binding="tns:BasicHttpBinding_IServiceAereo">
      <soap:address location="http://localhost:40759/ServiceAereo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>