WebApplicationAgencia/Service References/ServiceCompositionAgencia/ServiceAgencia4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45856/ServiceAgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceHotel" />
  <xs:import schemaLocation="http://localhost:45856/ServiceAgencia.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceCorreio" />
  <xs:import schemaLocation="http://localhost:45856/ServiceAgencia.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServicoAereo" />
  <xs:import schemaLocation="http://localhost:45856/ServiceAgencia.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ServicoTerrestre" />
  <xs:element name="VerificarQuartos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarQuartosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="VerificarQuartosResult" nillable="true" type="q1:InformacaoQuartosVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarQuarto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoTipoQuarto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarQuartoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="ReservarQuartoResult" nillable="true" type="q2:ReservaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceCorreio" minOccurs="0" name="ObterEnderecoResult" nillable="true" type="q3:EnderecoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPrecosAviao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPrecosAviaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicoAereo" minOccurs="0" name="VerificarPrecosAviaoResult" nillable="true" type="q4:InformacaoAviaoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemAviao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numeroAssento" type="xs:int" />
        <xs:element minOccurs="0" name="fileira" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemAviaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicoAereo" minOccurs="0" name="ComprarPassagemAviaoResult" nillable="true" type="q5:ReservaAviaoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPrecosOnibus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPrecosOnibusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicoTerrestre" minOccurs="0" name="VerificarPrecosOnibusResult" nillable="true" type="q6:InformacaoOnibusVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemOnibus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCidadeOrigem" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCidadeDestino" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numeroAssento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemOnibusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicoTerrestre" minOccurs="0" name="ComprarPassagemOnibusResult" nillable="true" type="q7:ReservaOnibusVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>