WebApplicationAgencia/Service References/ServiceCompositionAgencia/ServiceAgencia1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoAereo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoAereo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InformacaoAviaoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assentos" nillable="true" type="tns:ArrayOfAssentoAviaoVO" />
      <xs:element minOccurs="0" name="CodigoCidadeDestino" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCidadeOrigem" type="xs:int" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformacaoAviaoVO" nillable="true" type="tns:InformacaoAviaoVO" />
  <xs:complexType name="ArrayOfAssentoAviaoVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssentoAviaoVO" nillable="true" type="tns:AssentoAviaoVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssentoAviaoVO" nillable="true" type="tns:ArrayOfAssentoAviaoVO" />
  <xs:complexType name="AssentoAviaoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fileira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Livre" type="xs:boolean" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssentoAviaoVO" nillable="true" type="tns:AssentoAviaoVO" />
  <xs:complexType name="ReservaAviaoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assento" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCidadeDestino" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCidadeOrigem" type="xs:int" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fileira" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaAviaoVO" nillable="true" type="tns:ReservaAviaoVO" />
</xs:schema>