ServiceCompositionAgencia/Service References/ServiceComponentHotel/ServiceHotel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39122/ServiceHotel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceHotel" />
  <xs:element name="VerificarQuartos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarQuartosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="VerificarQuartosResult" nillable="true" type="q1:InformacaoQuartosVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarQuarto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoTipoQuarto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarQuartoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceHotel" minOccurs="0" name="ReservarQuartoResult" nillable="true" type="q2:ReservaVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>