ServiceCompositionAgencia/Service References/ServiceComponentHotel/ServiceHotel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InformacaoQuartosVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoHotel" type="xs:int" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quartos" nillable="true" type="tns:ArrayOfQuartoVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformacaoQuartosVO" nillable="true" type="tns:InformacaoQuartosVO" />
  <xs:complexType name="ArrayOfQuartoVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuartoVO" nillable="true" type="tns:QuartoVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuartoVO" nillable="true" type="tns:ArrayOfQuartoVO" />
  <xs:complexType name="QuartoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hidromassagem" type="xs:boolean" />
      <xs:element minOccurs="0" name="Televisao" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vista" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuartoVO" nillable="true" type="tns:QuartoVO" />
  <xs:complexType name="ReservaVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quarto" nillable="true" type="tns:QuartoVO" />
      <xs:element minOccurs="0" name="Realizado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaVO" nillable="true" type="tns:ReservaVO" />
</xs:schema>